<h2>Edit <%= resource_name.to_s.humanize %></h2>
<% resource.build_userinfo unless resource.userinfo %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => t('devise.registrations.edit_password_hint'), :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => t('devise.registrations.edit_current_password_hint'), :required => true %>

  <%= f.simple_fields_for :userinfo do |ff| %>
    <%= render "userinfos/form",f:ff %>
  <% end %>

  <%= f.button :submit, t('labels.edit'), :class => 'btn-primary' %>
<% end %>
<%= link_to t('labels.back'), :back %>
