<h2><%= t('labels.sign_up') %></h2>
<% resource.build_userinfo %>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :avatar, as: :image_preview, input_html: {preview_version: :thumb} %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.simple_fields_for :userinfo do |ff| %>
    <%= render "userinfos/form",f:ff %>
  <% end %>
  <%= f.button :submit, t('labels.sign_up'), :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
