<h1><%= @userinfo.user.name %>用户信息</h1>
<div>
  <%= render_field @userinfo.user,:name %>
</div>
<div>
  <%= render @userinfo %>
</div>

<div class="btn-group">
<% if @userinfo.user.followers.include?(current_user) %>
  <button class="btn btn-info pull-left" disabled>
    <% if @userinfo.user.friend.include?(current_user) %>
      <%= labels(:friend) %>
    <% else %>
      <%= labels(:followinged) %>
    <% end %>
  </button>
  <%= button_to t('labels.cancel'),unfollow_user_path(@userinfo.user),class:'btn btn-danger',confirm:t('labels.sure?') %>
<% else %>
  <% if @userinfo.user.following.include?(current_user) %>
    <button class="btn btn-info pull-left" disabled>
      <%= labels(:followered) %>
    </button>
    <%= button_to t('labels.befriend'),follow_user_path(@userinfo.user),class:'btn btn-primary' %>
  <% else %>
    <%= button_to t('labels.following'),follow_user_path(@userinfo.user),class:'btn btn-primary' %>
  <% end %>
<% end unless @userinfo.user == current_user %>
</div>
