<div class="span7">
  <h1><%= @activity.title %></h1>
  <%= render_field_with_dl i18n_field_name(@activity,:type_list),
    @activity.types.collect{|type| link_to type,type_activities_path(type_name: type)}.join(',').html_safe %>
  <%= render_field @activity,:desc %>
  <%= render_field @activity,:address %>
  <%= render_field @activity,:started_at%>
  <%= render_field @activity,:finished_at%>
  <%= render_field_with_dl i18n_field_name(@activity,:user),link_to(@activity.user,@activity.user) if @activity.user %>
  <% [:users,:invited_users,:interested_users].each do |attr| %>
    <%= render_field_with_dl i18n_field_name(@activity,attr),
      @activity.send(attr).collect{|user| link_to user,user}.join(',').html_safe %>
  <% end -%>

  <%= render_field_with_dl i18n_field_name(@activity,:status) do %>
    <%= @activity.human_status %>
  <% end -%>

  <%= render_field_with_dl '' do %>
    <%= render_cell :join_activity,@activity.could_join?(current_user),activity:@activity %>
    <%= render_cell :manage_activity,@activity.could_manage?(current_user),activity:@activity if @activity.could_manage?(current_user) %>
  <% end -%>



</div>
<div class="span4">
  <div id="bmap"  style="width:100%;height:200px">
  </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script type="text/javascript">
  show_init_map(<%= @activity.lat %>, <%= @activity.lng %>);
</script>
