<div class="span7">
  <h1><%= @activity.title %></h1>
  <p><b>活动类型:</b>
    <% @activity.types.each do |type| %>
      <%= link_to type,type_activities_path(type_name: type) %>
    <% end -%>
  </p>
  <%= p_field @activity,:desc %>
  <%= p_field @activity,:user %>
  <%= p_field @activity,:started_at%>
  <%= p_field @activity,:finished_at%>
  <p><b>参与者:</b>
    <% @activity.users.each do |user| %>
      <%= link_to user,user %>
    <% end -%>
  </p>
</div>
<div class="span4">
  <div id="bmap"  style="width:100%;height:200px">
  </div>
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script type="text/javascript">
  show_init_map(<%= @activity.lat %>, <%= @activity.lng %>);
</script>
