<%= link_to t('website.title'), root_path, :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li>
        <a href="#" class="navbar-link"><%= current_user.name %></a>
      </li>
      <li>
        <%= link_to t('labels.edit_account'), edit_user_registration_path %>
      </li>
      <li>
        <%= link_to t('labels.logout'), destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
        <%= link_to t('labels.sign_in'), new_user_session_path %>
      </li>
      <li>
        <%= link_to t('labels.sign_up'), new_user_registration_path %>
      </li>
    <% end %>
    <% if user_signed_in? and current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  </ul>

  <ul class="nav">
    <li>
      <%= link_to labels(:activity), activities_path,method: :get %>
    </li>
    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#menu_activities">
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to labels(:running) +labels(:activity), running_activities_path %>
        </li>
        <li>
          <%= link_to labels(:expired) +labels(:activity), expired_activities_path %>
        </li>

      </ul>
    </li>
    <li>
      <%= link_to labels(:new_activity), new_activity_path %>
    </li>
    <li>
      <%= link_to t('labels.relationship'), relationship_users_path %>
    </li>
    <li>
      <form action="http://google.com/search" method="get" target="_blank" class="navbar-form">
        <input type="hidden" name="q" value="site:test">
        <input type="text" name="q" class="search" placeholder="搜索..." x-webkit-speech="">
      </form>
    </li>
  </ul>
</div>
